.sw_bellezza{
    margin-bottom: 40px;
    font-family: 'El Messiri', sans-serif;
}
.sw_bellezza .header img{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}
.sw_bellezza .header h2{
    position: absolute;
    top: 322px;
    right: 55px;
    color: #FCA92D;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.sw_bellezza .container h4{
    color: #FCA92D;
}
.sw_bellezza .container p{
    margin-top:12px;
    margin-bottom: 45px;
}
.sw_bellezza .card{
    width: 330px;
    margin-bottom: 40px;
    margin-right: 35px;
}
.sw_bellezza .card h5{
    margin-top: 10px;
    margin-bottom: 18px;
    color: #FCA92D;
}
.sw_bellezza .card img{
    height: 410px;
}
.sw_bellezza .card a{
    display: block;
    color:#fff
}
.sw_bellezza .card a:hover{
    color:#fff;
    background-color: #C82333;
    border: 1px solid #C82333;
    font-family: Cairo, sans-serif;
}

/* Responsive Setting*/

@media (max-width: 767.99px) {
    .sw_bellezza .header h2{
        top: 180px;
        right: 10px;
    }
    .sw_bellezza .header img{
        height: 300px;
    }
    .sw_bellezza .card{
        margin: auto auto 40px;
    }
}
@media (max-width:350px){
    .sw_bellezza h2{
        text-align: center;
        left: 59px;
    }
}