.ceramic-show{
    font-family: "Cairo",Arial, Helvetica, sans-serif;
}
.ceramic-show .header{
    background-image: url("../../images/ceramic/gloria/header.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 40px;
}
.ceramic-show .header h3{
    position: absolute;
    top: 368px;
    right: 55px;
    color: #FCA92D;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-show img{
    width: 100%;
    height: 634px;
}
.ceramic-show .info{
    padding: 30px 35px 33px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.ceramic-show .info img{
    width: 180px;
    height: 180px;
}
.ceramic-show .info h1{
    color: #FCA92D;
    margin-bottom: 30px;
}
.ceramic-show .info p{
    color: #777777;
}
.ceramic-show .info .sp1,
.ceramic-show .info .sp3{
    float: right;
}
.ceramic-show .info .sp2,
.ceramic-show .info .sp4{
    float: left;
    color: #FCA92D;
}
.ceramic-show .info hr{
    color: slategrey;
}
.ceramic-show .info ul {
    margin-top: 55px;
}
.ceramic-show .info ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.ceramic-show .info ul li a{
    background-color: white;
    color: #777777;
}
.ceramic-show .info ul li a:hover{
    color: #000;
}
.ceramic-show .model img{
    width: 88px;
    height: 88px;
    margin:80px 37px 52px ;
}
#notfound {
    position: relative;
    height: 100vh;
  }
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #014285;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #014285;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
