.ceramic-cleopatra{
    margin-bottom: 40px;
    font-family: 'El Messiri', sans-serif;
}
.ceramic-cleopatra .header img{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}
.ceramic-cleopatra .header h2{
    position: absolute;
    top: 182px;
    right: 55px;
    color: #FCA92D;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-cleopatra .header h3{
    position: absolute;
    top: 368px;
    right: 55px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-cleopatra .header p{
    position: absolute;
    top: 449px;
    right: 55px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 31px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-cleopatra .container h4{
    color: #FCA92D;
}
.ceramic-cleopatra .container p{
    margin-top:12px;
    margin-bottom: 45px;
}
.ceramic-cleopatra .card{
    width: 330px;
    margin-bottom: 40px;
    margin-right: 35px;
}
.ceramic-cleopatra .card img{
    height: 328px;
}
.ceramic-cleopatra .card h5{
    margin-top: 10px;
    margin-bottom: 14px;
}
.ceramic-cleopatra .card a{
    display: block;
}
.ceramic-cleopatra .card a:hover{
    background-color: #C82333;
    border: 1px solid #C82333;
    font-family: Cairo, sans-serif;
}

 /*Responsive Setting*/
 
@media (max-width: 767.99px) {
    .ceramic-cleopatra .header img{
        height: 300px;
    }
    .ceramic-cleopatra .header p,
    .ceramic-cleopatra .header h3{
        display: none;
    }
    .ceramic-cleopatra .card{
        margin: auto auto 40px;
    }
}
