.ceramic-gema{
    margin-bottom: 40px;
    font-family: 'El Messiri', sans-serif;
}
.ceramic-gema .header img{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}
.ceramic-gema .header h2{
    position: absolute;
    top: 182px;
    right: 55px;
    color: #FCA92D;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-gema .header h3{
    position: absolute;
    top: 368px;
    right: 55px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 20px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-gema .header p{
    position: absolute;
    top: 449px;
    right: 55px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 31px;
    font-family: 'Cairo', sans-serif;
}
.ceramic-gema .container h4{
    color: #FCA92D;
}
.ceramic-gema .container p{
    margin-top:12px;
    margin-bottom: 45px;
}
.ceramic-gema .card{
    width: 330px;
    margin-bottom: 40px;
    margin-right: 35px;
}
.ceramic-gema .card img{
    height: 328px;
}
.ceramic-gema .card h5{
    margin-top: 10px;
    margin-bottom: 14px;
}
.ceramic-gema .card a{
    display: block;
}
.ceramic-gema .card a:hover{
    background-color: #C82333;
    border: 1px solid #C82333;
    font-family: Cairo, sans-serif;
}


 /*Responsive Setting*/
 
@media (max-width: 767.99px) {
    .ceramic-gema .header img{
        height: 300px;
    }
   .ceramic-gema .header p,
   .ceramic-gema .header h3{
       display: none;
    }
   .ceramic-gema .card{
    margin: auto auto 40px;
    }
}
