.blog{
    padding: 100px 0;
    background: #F7F7F7;
    font-family: Cairo, Arial, Helvetica, sans-serif;
}
.blog .new-article{
    background-color: #fff;
    padding: 45px 20px;
}
.blog .new-article .head-post{
    margin-bottom: 70px;
}
.blog .new-article .head-post h3{
    color:#014285;
    border-right: 4px solid #FCA92D;
    padding-right: 10px;
    margin-bottom: 45px;
}
.blog .new-article .head-post span{
    margin-left: 20px;
    background-color: #eee;
}
.blog .new-article .head-post span i{
    padding-left: 3px;
    color: #014285;
}

.blog .new-article .body-post{
    color:#4d5860;
    text-align: justify;
    line-height: 1.8;
}
.blog .new-article .body-post h4{
    color: blue;
    margin-top: 40px;
}

.blog .new-article .body-post p{
    margin-top: 40px;
}

.blog .new-article .body-post img{
    width: 100%;
}



.blog .other-articles{
    background-color: #fff;
    margin-bottom: 15px;
}
.blog .other-articles h4{
  color: #fff;
  background-color: #014285;
  padding: 20px 5px;
}
.blog .other-articles h4 i{
  padding-left: 13px;
}
.blog .other-articles .row{
    border-bottom:2px solid #014285;
    padding: 15px;
    margin: 0;
}
.blog .other-articles img{
  width: 100%;
  height: 70px;
}

.blog .other-articles .link a{
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out;
   /* line-height: 67px; */
}

.blog .other-articles a:hover{
    color:  blue;
}
.blog .other-articles .more-articles{
    margin-top: 22px;
    display: block;
}
.blog .other-articles .more-articles:hover{
    color:  #fff;
}
#notfound {
    position: relative;
    height: 100vh;
}
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #014285;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #014285;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}


