body {
  direction: rtl;
}
@font-face {
  font-family: 'GE_Dinar_One_Light';
  src: url('../myfonts/GE_Dinar_One_Light.otf');

}
.bg-light {

  background-color:rgba(54,54,54,0.9)!important
}

.navbar {
  padding: 0px;
  font-family: 'GE_Dinar_One_Light' ,'El Messiri', sans-serif;
  width: 100%;
  z-index: 99999;
}

.navbar-light .navbar-toggler {
  background-color: #FCA92D;
  border-color: #FCA92D;
  border-radius: 50px;
}

.navbar button:focus {
  outline: none;
}

.navbar .collapse {
  margin-right: 50px;
}

.navbar-brand img {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  padding-bottom: 28px;
  padding-top: 34px;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #425259;
  transition: all .3s ease-in-out;
}

.navbar .dropdown-menu {
  background-color: #031A28;
  text-align: left;
  position: absolute;
  top: 79px;
  left: -33px;
  border-radius: 0;
  padding: 0px;
}

.navbar .dropdown-menu .dropdown-item {
  text-align: center;
  color: #FFF;
  cursor: pointer;
  font-size: 13px;
  padding: 0.25rem 0.5rem;
}

.navbar .ceramic-cleopatra,
.ceramic-gemma,
.ceramic-gloria,
.ceramic-elameer,
.ceramic-remas,
.ceramic-royal {
  position: absolute;
  min-width: 165px !important;
  display: none;
  border-radius: 0;
}

.navbar .ceramic-cleopatra {
  top: -3px;
  right: 155px;
  bottom: 80px;
  left: 0px;
}

.navbar .ceramic-gemma {
  top: 24px;
  right: 155px;
}

.navbar .ceramic-gloria {
  top: 51px;
  right: 155px;
  bottom: 28px;
  left: 0px;
}

.navbar .ceramic-elameer {
  top: 78px;
  right: 155px;
  bottom: -1px;
  left: 0px;
}

.navbar .ceramic-remas {
  top: 106px;
  right: 155px;
  bottom: -28px;
  left: 0px;
}

.navbar .ceramic-royal {
  top: 134px;
  right: 155px;
  bottom: -55px;
  left: 0px;
}

.navbar .dropdown-item:hover .ceramic-cleopatra,
.navbar .dropdown-item:hover .ceramic-gemma,
.navbar .dropdown-item:hover .ceramic-gloria,
.navbar .dropdown-item:hover .ceramic-elameer,
.navbar .dropdown-item:hover .ceramic-remas,
.navbar .dropdown-item:hover .ceramic-royal {
  transition: all .5s ease-in-out;
  display: block;
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: #425259;
  color: #fff;
}

/* Scroll Button For All Pages*/
#scrollTop {
  margin-right: 10px;
  font-size: 60px;
  color: #FCA92D;
  position: fixed;
  bottom: 54px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  display: none;
}
/* Responsive Setting*/
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    float: right;
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .dropdown-menu {
    background-color: #031A28;
    text-align: left;
    position: absolute;
    top: 44px;
    left: 534px;
    right: 0px;
    border-radius: 0;
  }
  .navbar .ceramic-cleopatra {
    top: -3px;
    right: 204px;
    bottom: 87px;
    left: -164px;
  }
  .navbar .ceramic-gemma {
    top: 24px;
    right: 204px;
    bottom: 56px;
    left: -164px;
  }
  .navbar .ceramic-gloria {
    top: 51px;
    right: 204px;
    bottom: 27px;
    left: -164px;
  }
  .navbar .ceramic-elameer {
    top: 78px;
    right: 204px;
    bottom: -3px;
    left: -164px;
  }
  .navbar .ceramic-remas {
    top: 106px;
    right: 204px;
    bottom: -31px;
    left: -164px;
  }
  .navbar .ceramic-royal {
    top: 134px;
    right: 204px;
    bottom: -60px;
    left: -164px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    direction: ltr;
  }
}

@media (min-width: 575px) and (max-width: 767.98px) {
  .navbar .dropdown-menu {
    background-color: #031A28;
    text-align: left;
    position: absolute;
    top: 44px;
    left: 366px;
    right: 0px;
    border-radius: 0;
  }
  .navbar .ceramic-cleopatra {
    top: -4px;
    right: 197px;
    bottom: 85px;
    left: -164px;
  }
  .navbar .ceramic-gemma {
    top: 25px;
    right: 197px;
    bottom: 56px;
    left: -164px;
  }
  .navbar .ceramic-gloria {
    top: 54px;
    right: 197px;
    bottom: 27px;
    left: -164px;
  }
  .navbar .ceramic-elameer {
    top: 83px;
    right: 197px;
    bottom: -3px;
    left: -164px;
  }
  .navbar .ceramic-remas {
    top: 112px;
    right: 197px;
    bottom: -31px;
    left: -164px;
  }
  .navbar .ceramic-royal {
    top: 141px;
    right: 197px;
    bottom: -60px;
    left: -164px;
  }
}

@media (max-width: 574.98px) {
  .navbar .dropdown-menu {
    background-color: #031A28;
    text-align: left;
    position: absolute;
    top: -2px;
    left: 112px;
    right: 158px;
    border-radius: 0;
    border: none;
    min-width: auto !important;
  }
  .navbar .dropdown-menu .dropdown-item:hover,
  .navbar .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #FCA92D;
  }
  .navbar .ceramic-cleopatra {
    top: -3px;
    right: 162px;
    left: -88px;
    bottom: 85px;
  }
  .navbar .ceramic-gemma {
    top: 26px;
    right: 162px;
    left: -88px;
    bottom: 56px;
  }
  .navbar .ceramic-gloria {
    top: 55px;
    bottom: 27px;
    right: 162px;
    left: -88px;
  }
  .navbar .ceramic-elameer {
    top: 84px;
    bottom: -3px;
    right: 162px;
    left: -88px;
  }
  .navbar .ceramic-remas {
    top: 105px;
    bottom: -31px;
    right: 162px;
    left: -88px;
  }
  .navbar .ceramic-royal {
    top: 142px;
    bottom: -60px;
    right: 162px;
    left: -88px;
  }
}
